{% extends "layout.html" %}

{% block head %}
<style>
	h1{
		text-align: center;
	}
	form{
		display:flex;
		flex-direction: column;
		gap:0.5em;
		margin-left:20%;
		margin-right:20%;
		margin-bottom:1em;
		background: white;
		}
		button {
			margin-top:1em;
			padding: 0.5em;
			background-color: black;
			color:white;
			border: None;
			transition: 0.2s;
		}
		button:hover{
			cursor: pointer;
			background-color: rgb(50,20,50);
		}
</style>
{% endblock %}

{% block body %}
<h1>Overlord API Demo</h1>
<form>
	<label for="hotel_nest">Hotel Nest:</label>
	<input type="text" name="hotel_nest" id="hotel_nest"  value=16>
	<label for="location">Location:</label>
	<select name="location" id="location">
		<option>HotelA</option>
		<option>Timepoint_collector</option>
	</select>
	<label for="operation">Operation:</label>
	<select name="operation" id="operation">
		<option>Get</option>
		<option>Put</option>
	</select>
	<button type="submit">submit</button>
</form>
<script>
	document.querySelector('form').addEventListener('submit', function(event) {
		event.preventDefault();
		const kwargs = {
			'location':document.getElementById("location").value,
			"operation":operation.value,
			"hotel_nest":hotel_nest.value
		}
		fetch('/api/run-sequence', {
			method: 'POST',
			headers:{"Content-Type":"application/json"},
			body: JSON.stringify({'kwargs':kwargs})
		})
			.then(response => response.json())
			.then(data => {
				// Handle the response data as needed
			})
			.catch(error => {
				// Handle any errors
			});
	});
</script>
{% endblock %}
