{% extends "layout.html" %}

{% block head %}
{# Maybe extra css can go here sometime, idk. #}
{% endblock %}

{% block body %}
<h1>Overlord Demo</h1>
<form>
	<label for="hotel_nest">Hotel Nest:</label>
	<input type="text" name="hotel_nest" id="hotel_nest"  value=16>
	<label for="location">Location:</label>
	<select name="location" id="location">
		<option>HotelA</option>
		<option>Timepoint_collector</option>
	</select>
	<select name="operation" id="operation">
		<option>Get</option>
		<option>Put</option>
	</select>
	<button type="submit">submit</button>
</form>
<script>
	document.querySelector('form').addEventListener('submit', function(event) {
		event.preventDefault();
		const kwargs = {
			'location':document.getElementById("location").value,
			"operation":operation.value,
			"hotel_nest":hotel_nest.value
		}
		fetch('/api/run-sequence', {
			method: 'POST',
			headers:{"Content-Type":"application/json"},
			body: JSON.stringify({'kwargs':kwargs})
		})
			.then(response => response.json())
			.then(data => {
				// Handle the response data as needed
			})
			.catch(error => {
				// Handle any errors
			});
	});
</script>
{% endblock %}
